.hero-body {
  background-image: url('https://i.pinimg.com/originals/fa/eb/a5/faeba5a7129d548e7ebc6887e399591e.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: rgba(64, 109, 122, 0.493);
  background-size: cover;
  height: 100vh;
}

.title-main {
  margin-top: 100px;
}

.button-main {
  margin-top: 20px;
}

.table {
  background-color: #2f4e68f5;
  border: 10px solid #ddd;
  padding-top: 30px;
}

.table-title {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

.button-link {
  margin-left: 640px;
}


